h1{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 13px;
}
.bor{
    border: 2px solid black !important;
}
