<div class="row align-items-center">
    <div class="col-sm-12 col-lg-3"><img class="img-fluid rounded" src="./img/indicacoes/${imagemComputador}" />
    </div>

    <!-- Logo loja -->
    <div class="col">
        <div>
            <img class="img-fluid rounded" src="./img/lojas/${lojaImagem}" />
        </div>
        <div class="preco">
            <p>${preco}</p>
            <span>No Cartão:</span>
            <p>${noCartao}</p>
        </div>
    </div>

    <div class="col-sm-12 col-lg-3">
        <h2 class="font-weight-light">Características</h2>
        <div class="d-flex flex-column especs">
            <span><strong>Processador:</strong>${processador}</span>
            <span><strong>Placa de mãe:</strong>${placaMae}</span>
            <span><strong>Placa de video:</strong>${placaDeVideo}</span>
            <span><strong>Armazenamento:</strong>${armazenamento}</span>
            <span><strong>Mémoria RAM:</strong> ${memoriaRAM}</span>
            <span><strong>Gabinete:</strong>${gabinete}</span>
        </div>
    </div>

    <!-- Lista flex -->
    <div class="col-sm-12 col-lg-3">
        <div class="d-flex align-items-end flex-column bd-highlight ">
            <div class="p-2 bd-highlight">
                <a href="https://web.whatsapp.com/send?text=Olha essa indicação de computador que encontrei no PCGURU: ${linkLoja}" target="_blank">
                    <i class="fa fa-share fa-2x"></i>
                </a>
            </div>
            <div class="p-2 bd-highlight">${favorito}</div>
            <!-- Botão -->
            <div class="p-2 bd-highlight">
                <a type="button" href="${linkLoja}" target="_blank" class="btn btn-outline-success btn-lg">
                    Ir a loja
                </a>
            </div>
            <!-- Stars -->
            <div class="p-2 bd-highlight">
                ${nota}
            </div>
        </div>
    </div>

</div>