<footer class="bg-light-dark pt-4 pb-3">
    <ul class="d-flex flex-row flex-wrap text-center justify-content-between container align-items-end">
        <li><a href="index.html#destaques" class="footer-link">Em Destaque</a></li>
        <li><a href="index.html#melhores-precos" class="footer-link">Melhores Preços</a></li>
        <li><a href="listagem.html" class="footer-link ">Favoritos</a></li>
        <h2 class="footer-title">PC GURU</h2>
        <li><a href="minha-conta.html" class="footer-link">Minha Conta</a></li>
        <li><a href="#" class="footer-link">Contato</a></li>
        <li><a href="quem-somos.html" class="footer-link">Quem Somos</a></li>
    </ul>
    <div class="text-center container">
        <hr>
        <span class="footer-terms">© 2021-2021</span>
        <span class="footer-terms">Privacy — Terms</span>
    </div>
</footer>